﻿@model IEnumerable<MyClass.Model.Products>

@{
    ViewBag.Title = "Thùng rác sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Public/css/jquery.dataTables.min.css" />
}

@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}

<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">THÙNG RÁC SẢN PHẨM</strong>
                        </div>

                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Create","Product")" class="btn-sm btn-success"><i class="fa fa-plus"></i> Thêm</a>
                            <a href="@Url.Action("Trash","Product")" class="btn-sm btn-danger"><i class="fa fa-trash"></i> Thùng rác</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.Partial("Message")
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.CatId)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.SupplierId)</th>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <th>@Html.DisplayNameFor(model => model.Qty)</th>
                                <th>@Html.DisplayNameFor(model => model.Img)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" name="id" value="" /></td>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CatId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SupplierId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                                    <td><img src="~/Public/img/product/@item.Img" alt="Img" class="img-fluid" /></td>
                                    <td>
                                        <a href="@Url.Action("Recover","Product", new { id = item.Id })" class="btn-sm btn-primary"><i class="fa fa-undo"></i></a>
                                        <a href="@Url.Action("Delete","Product", new { id = item.Id })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->